# -------------- IDEs --------------

.vscode
.idea

# -------------- Environment --------------

.env
venv

# -------------- Tests --------------

.coverage

# -------------- Logs --------------
*.log
